<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/master.css" type="text/css">
    <title>Database</title>
</head>

<body>
    <h1>
        Hello Database
    </h1>
    <form action="/retrive" method="post">
        <label for="usr_id">enter id</label><br>
        <input type="number" name="usr_id"><br>
        <label for="age">enter age</label><br>
        <input type="number" name="age"><br>
        <label for="usr_name">enter name</label><br>
        <input type="text" name="usr_name">
    </form>
</body>

</html>