<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style="width: 80%; margin: 7vh auto; align-items: center; text-align: center;">
        Welcome to <%=title%>
    </h1><br>
    <form action="/randomize" method="post"
        style="width: 80%; margin: 0 auto; align-items: center; text-align: center;">
        <label for="word">Enter a word</label><br>
        <input type="text" name="word" id="wd" required><br>
        <br>
        <input type="submit" value="randomize">
    </form>
</body>

</html>